.top-banner h1 {
    color: var(--white);
}

.top-banner {
    padding: 200px 0px;
    background-color: var(--dark-grey);
}

.top-banner {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/index/header-Img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.top-banner .btn-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0px auto;
    display: block;
    padding: 10px 32px;
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color var(--trans-n-250), background-color var(--trans-n-250);
}

.top-banner .btn-blue:hover,
.top-banner .btn-blue:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



.top-banner .top-banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    display: block;
    text-align: center;
    margin-bottom: 30px;


}


.top-banner-specific .top-banner-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-main-color);
}

.top-banner-specific .top-banner-list {
    display: flex;
    gap: 30px;
}


.top-banner-item .icon {
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    padding: 25px 0px;
}



.top-banner-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin-top: 10px;
}

.top-banner-specific .top-banner-title {
    padding-top: 30px;
}


/* ---ACTIVITY---- */
.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}

.activity {
    padding-top: 0;
}


.activity-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;

}

.activity-list-item {
    list-style: none;
    position: relative;
}

.activity-text {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white);
}



/* -----TEAM--------- */
.team {
    background-color: var(--grey-bright);


}

.team-list {

    display: flex;
    gap: 30px;
}


.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);

}

.team-title {
    margin-bottom: 50px;
}


.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);

}

.team-member-pic {
    display: block;
}

.team-member-description {
    padding: 30px 0px;
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin-top: 10px;
    margin-bottom: 16px;

}

.team-member-soc {
    display: flex;
    justify-content: center;
    gap: 10px;


}

/* -------REGULAR---CUSTOMERS---- */

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 50px;
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    gap: 30px;

}

.container-customers {
    border-radius: 4px;
}


.customers-link:hover,
.customers-link:focus {
    border-color: var(--blue);
    fill: var(--blue);
}

.customers-link {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    display: block;
    padding: 16px 32px;
    transition: fill var(--trans-n-250), background-color var(--trans-n-250);
}