.overlay {
    position: absolute;
    top: 0;
    background-color: var(--blue);
    color: yellow;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    padding: 70px;
    height: 100%;
    opacity: 0.5;
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow: auto;
}